.add-modal {
    width: 450px;
}
.float-right {
    float: right;
}

.hover-hand {
    cursor: pointer;
}

.save-button {
    float: right;
    margin-bottom: 15px;
}

.logo-img {
    width: 100%;
    margin-bottom: 90px;
    margin-top: 40px;
}


body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}

.w3-sidebar {width: 120px;background: #061b7a;}

#main {margin-left: 120px}

@media only screen and (max-width: 600px) {#main {margin-left: 0}}

.loader {
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid #004471;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

    z-index: 5;
    position: absolute;
    left: 45%;
    top: 45%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}